@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=cyrillic');

@mixin roboto-font($font, $weight) {
    font-family: $font;
    font-weight: $weight;
}

//** Placeholder text color
$input-color-placeholder: $color_2 !default;

//Thin font
$thin-font: 'Roboto', sans-serif;
$thin-font-weight: 100;

//Light font
$light-font: 'Roboto', sans-serif;
$light-font-weight: 300;

//Regular font
$regular-font: 'Roboto', sans-serif;
$regular-font-weight: 400;

//Bold font
$bold-font: 'Roboto', sans-serif;
$bold-font-weight: 700;
