.main-footer {
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: $color_74;
    text-align: center;
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
    .footer-menu {
        @include inline-block();
        @include clearfix();
        .menu-item {
            float: left;
            padding-right: 15px;
            border-right: 2px solid $color_72;
            margin-right: 15px;
            line-height: 1em;
            @media (max-width: 767px) {
                float: none;
                margin-bottom: 30px;
                @include inline-block();
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
                margin-right: 0;
            }
            a {
                color: $color_11;
                font-size: 18px;
            }
        }
    }
    .footer-register-now {
        font-size: 18px;
        text-align: center;
        display: block;
        color: $color_11;
        margin-top: 30px;
        @include roboto-font($bold-font, $bold-font-weight);
    }
    .copyright {
        margin-top: 40px;
        padding-top: 30px;
        border-top: 1px solid $color_2;
        p {
            color: $color_72;
            margin-bottom: 0;
        }
    }
}
