header.top-header {
    margin-bottom: 50px;
    padding: 3px 0;
    background-color: rgba($color_24, 0.45);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    @include clearfix();
    @media (max-width: 767px) {
        padding: 0;
    }
    .logo {
        float: left;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-indent: -1000000px;
        @include sprites('top_header_logo');
        @include inline-block();
        @media (max-width: 767px) {
            margin-left: 0;
            margin-bottom: 5px;
        }
    }
    .header-menu-wrapper {
        text-align: right;
        margin-top: 10px;
    }
    .mobile-menu {
        text-align: right;
        .mobile-menu-hamburger {
            margin-top: 15px;
        }
    }
}
