.section-wrapper {
    padding-top: 60px;
    padding-bottom: 80px;
    @media (max-width: 767px) {
        padding-top: 30px;
    }
    .head {
        font-size: 32px;
        color: $color_11;
        margin-top: 0;
        margin-bottom: 50px;
        @include roboto-font($light-font, $light-font-weight);
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    .btn {
        margin-top: 60px;
        padding-right: 60px;
        padding-left: 60px;
        @include transition(.3s);
        @media (max-width: 1024px) {
            margin-top: 0;
        }
    }
}
