body {
    font-size: 16px;
    @include roboto-font($regular-font, $regular-font-weight);
    //@include text-shadow(rgba(0, 0, 0, 0.06) 0 0 1px);
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

h1, h3 {
    font-size: 24px;
    color: $color_4;
    line-height: 1.2em;
    @include roboto-font($light-font, $light-font-weight);
}

h2 {
    font-size: 16px;
    @include roboto-font($light-font, $light-font-weight);
}

h6 {
    font-size: 16px;
    @include roboto-font($regular-font, $regular-font-weight);
}

p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    @include roboto-font($regular-font, $regular-font-weight);
}

ul {
    margin-bottom: 0;
}

ol {
    li {
        list-style: decimal;
        margin-bottom: 30px;
    }
}
