$color_1: #353535;
$color_2: #ffffff;
$color_3: #9a9a9a;
$color_4: #212121;
$color_5: #606060;
$color_6: #0081E4;
$color_7: #ecefef;
$color_8: #757474;
$color_9: #9b9b9b;
$color_11: #000000;
$color_12: #ebecf1;
$color_13: #d9d9d9;
$color_14: #f1f1f1;
$color_15: #474747;
$color_16: #e4c030;
$color_17: #f5f5f5;
$color_18: #767676;
$color_19: #3c3c3c;
$color_20: #202020;
$color_21: #c8c8c8;
$color_22: #a8a8a8;
$color_23: #999999;
$color_24: #575757;
$color_25: #3b5999;
$color_26: #e7e7e7;
$color_27: #f33900;
$color_28: #232323;
$color_29: #c9c9c9;
$color_30: #414141;
$color_31: #dbdbdb;
$color_32: #808080;
$color_33: #4e4e4e;
$color_34: #414242;
$color_35: #848484;
$color_36: #f3f3f3;
$color_37: #cccccc;
$color_38: #868686;
$color_39: #aaaaaa;
$color_40: #a9a9a9;
$color_41: #d7d7d7;
$color_42: #dd4c3b;
$color_43: #1bc55f;
$color_44: #5e5e5e;
$color_45: #828282;
$color_46: #9e9e9e;
$color_47: #c0c0c0;
$color_48: #e4e4e4;
$color_49: #ebebeb;
$color_50: #3e3e3e;
$color_51: #747474;
$color_52: #cbcbcb;
$color_53: #aeaeae;
$color_54: #686868;
$color_55: #484848;
$color_56: #1d1d1d;
$color_57: #969696;
$color_58: #f2f2f2;
$color_59: #fafafa;
$color_60: #72787a;
$color_61: #ecf9ff;
$color_62: #c4c4c4;
$color_63: #858585;
$color_64: #efefef;
$color_65: #c9ecfa;
$color_66: #7f7f7f;
$color_67: #e0eff5;
$color_68: #cfcfcf;
$color_69: #f7f7f7;
$color_70: #42403D;
$color_71: #F4F7F9;
$color_72: #8F8F8F;
$color_73: #DCDCDC;
$color_74: #E9E9E9;
$color_75: #555555;


$color-red-error: #b5341a;
$color-grey-arrow: $color_8;

$width-default: 100% !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

$input-color: $color_11;
$input-bg: $color_2;

//** Placeholder text color
$input-color-placeholder: $color_3 !default;

$font-name: flex-slider-font;
$default-easing: ease;
$default-duration: 1s;
$default-border-radius: 5px;
$default-box-shadow-x-axis: 0;
$default-box-shadow-y-axis: 1px;
$default-box-shadow-blur: 2px;
$default-box-shadow-color: rgba(0, 0, 0, 0.2);
$default-box-shadow-inset: '';
$flexslider-margin: 20px 0 20px;
$flexslider-bg: $color_2;
$flexslider-border: 4px solid #fff;
$flexslider-border-radius: 4px;
$flexslider-box-shadow-x-axis: 0;
$flexslider-box-shadow-y-axis: 1px;
$flexslider-box-shadow-blur: 4px;
$flexslider-box-shadow-color: rgba(0, 0, 0, 0.2);
$flexslider-box-shadow-inset: '';
$flex-viewport-slider-max-height: 780px;
$flex-viewport-carousel-max-height: 100px;
$flex-viewport-loading-max-height: 300px;
$flex-control-thumbs: 5px 0 0;
$flex-direction-nav-icon-color: #fff;
$flex-pauseplay-icon-play: '\f003';
$flex-pauseplay-icon-pause: '\f004';
