<header class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
            </div>
            <div class="hidden-xs hidden-sm col-md-8 col-lg-8">
                <div class="header-menu-wrapper">
                    <ul class="header-menu top-menu">
                        <li class="menu-item">
                            <a href="/" class="menu-element">
                                <span class="text">НАЧАЛО</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="participants" class="menu-element">
                                <span class="text">УЧАСТНИЦИ</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="voting" class="menu-element">
                                <span class="text">ГЛАСУВАНЕ</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="judges" class="menu-element">
                                <span class="text">ЖУРИ</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="blog" class="menu-element">
                                <span class="text">БЛОГ</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="contacts" class="menu-element">
                                <span class="text">КОНТАКТИ</span>
                            </a>
                        </li>
                        <li class="menu-item register">
                            <a href="register" class="menu-element">
                                <span class="text">РЕГИСТРАЦИЯ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
                <div class="mobile-menu">
                    <i class="icon mobile-menu-hamburger" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <% include mobileMenu.ejs %>
    </div>
</header>
