<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="footer-menu">
                    <li class="menu-item">
                        <a href="#" class="menu-element">
                            <span class="text">Условия за участие</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-element">
                            <span class="text">Категории</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="judges" class="menu-element">
                            <span class="text">Жури</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="participants" class="menu-element">
                            <span class="text">Участници</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="blog" class="menu-element">
                            <span class="text">Блог</span>
                        </a>
                    </li>
                    <li class="menu-item register">
                        <a href="contacts" class="menu-element">
                            <span class="text">Контакти</span>
                        </a>
                    </li>
                </ul>
                <a href="register" class="footer-register-now">Регистрирай се сега!</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="copyright">
                    <p>2018 &copy; Годишни Фотографски награди. Всички права запазени</p>
                </div>
            </div>
        </div>
    </div>
</footer>
