<div class="mobile-menu-wrapper hidden-md hidden-lg">
    <div class="mobile-menu-nav">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <a href="/" class="logo" title="photo-forum.net">photo-forum.net</a>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="menu-item close-menu-icon">
                    <i class="icon close-menu"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="top-menu">
                <li class="menu-item">
                    <a href="/" class="menu-element">
                        <span class="text">НАЧАЛО</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="participants" class="menu-element">
                        <span class="text">УЧАСТНИЦИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="voting" class="menu-element">
                        <span class="text">ГЛАСУВАНЕ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="judges" class="menu-element">
                        <span class="text">ЖУРИ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="blog" class="menu-element">
                        <span class="text">БЛОГ</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="form-elements" class="menu-element">
                        <span class="text">Форма</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="contacts" class="menu-element">
                        <span class="text">КОНТАКТИ</span>
                    </a>
                </li>
                <li class="menu-item register">
                    <a href="register" class="menu-element">
                        <span class="text">РЕГИСТРАЦИЯ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
