<div class="list-shared-gallery">
    <div class="user-posted-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="images/category/photo_4.jpg" itemprop="contentUrl" data-size="1200x800" data-index="0">
                <span class="gallery-name">Архитектура</span>
                <img src="images/category/photo_4.jpg" width="450" height="300" itemprop="thumbnail" alt="Beach">
            </a>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="images/category/photo_5.jpg" itemprop="contentUrl" data-size="593x800" data-index="1">
                <span class="gallery-name">Пейзаж</span>
                <img src="images/category/photo_5.jpg" width="222" height="300" itemprop="thumbnail" alt="">
            </a>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="images/category/photo_6.jpg" itemprop="contentUrl" data-size="878x800" data-index="1">
                <span class="gallery-name">Портрет</span>
                <img src="images/category/photo_6.jpg" width="329" height="300" itemprop="thumbnail" alt="">
            </a>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="images/category/photo_7.jpg" itemprop="contentUrl" data-size="1283x800" data-index="1">
                <span class="gallery-name">Портрет</span>
                <img src="images/category/photo_7.jpg" width="481" height="300" itemprop="thumbnail" alt="">
            </a>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="images/category/photo_8.jpg" itemprop="contentUrl" data-size="544x800" data-index="1">
                <span class="gallery-name">Портрет</span>
                <img src="images/category/photo_8.jpg" width="204" height="300" itemprop="thumbnail" alt="">
            </a>
        </figure>
    </div>
</div>
