<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="blog-post-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>БЛОГ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li><a href="blog">Блог</a></li>
                            <li class="active">Интервю с Лазар Малаков - жури</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="blog-post">
                    <div class="blog-post-header">
                        <h2 class="blog-post-title">Интервю с Лазар Малаков - жури</h2>
                        <span class="blog-post-date">03 Август 2018</span>
                    </div>
                    <div class="blog-post-content">
                        <img src="images/blog/ffawards.png" width="237" height="168" class="image-left">
                        <p class="question">Как Лазар и дигиталните комуникации се срещнаха?</p>
                        <p>Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле)</p>
                        <p class="question">Маркетинг и дигитален маркетинг - има ли разлика според теб?</p>
                        <p>Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна </p>
                        <p class="question">Как Лазар и дигиталните комуникации се срещнаха?</p>
                        <p>Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле)</p>
                        <p class="question">Маркетинг и дигитален маркетинг - има ли разлика според теб?</p>
                        <p>Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна </p>
                    </div>
                </div>
                <div class="judges-interviews-wrapper section-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="head">ИНТЕРВЮТА</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <a href="register" class="btn btn-block btn-primary btn-register">
                            <span class="text text-uppercase">РЕГИСТРИРАЙ СЕ СЕГА</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
