<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="blog-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>БЛОГ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">БЛОГ</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="judges-interviews-wrapper section-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="blog-post" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="blog-post" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="blog-post" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="judge">
                                <div class="judge-interview">
                                    <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                                    <div class="interview-date">27.07.2018</div>
                                    <div class="interview-text">
                                        <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход
                                            беше по
                                            схемата „from brick...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="pagination-tools">
                                <!--remove class "hidden" to show previous pages button-->
                                <div class="pagination-navigation hidden">
                                    <span rel="prev" class="previous-page">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <ul class="pagination">
                                    <li class="active">
                                        <span>1</span>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                </ul>
                                <!--add class "hidden" to hide next pages button-->
                                <div class="pagination-navigation">
                                    <a href="#" rel="next" class="next-page">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
