<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Участници - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="participants-page category">
<% include ./modal_category_video.ejs %>
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>УЧАСТНИЦИ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">УЧАСТНИЦИ</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="category section-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="head">Пейзаж</h1>
                                <h6 class="sub-head">192 участници</h6>
                            </div>
                        </div>
                    </div>

                    <!--add class hidden-->
                    <div class="category-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="category video">
                                    <div class="user-posted-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <div class="main-details">
                                                <div class="photo-wrapper" data-toggle="modal" data-target="#categoryVideo">
                                                    <div href="images/category/photo_4.jpg" style="background-image: url('../images/category/photo_7.jpg')" class="photo" itemprop="contentUrl" data-size="1200x800" data-index="0">
                                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <a href="#" class="category-participant">Пламен Коцев</a>
                                    <a href="#" class="category-name">Име на проект</a>
                                    <a href="#" class="category-url">website</a>
                                    <div class="category-participants">3 снимки</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="user-posted-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="images/category/photo_4.jpg" style="background-image: url('../images/category/photo_7.jpg')" class="photo" itemprop="contentUrl" data-size="1200x800" data-index="0">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <a href="#" class="category-name">Пламен Коцев</a>
                                    <div class="category-participants">3 снимки</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="user-posted-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="images/category/photo_4.jpg" style="background-image: url('../images/category/photo_7.jpg')" class="photo" itemprop="contentUrl" data-size="1200x800" data-index="0">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <a href="#" class="category-name">Пламен Коцев</a>
                                    <div class="category-participants">3 снимки</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--remove class hidden-->
                    <div class="no-photos-found hidden">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>В тази категория очакваме регистрация на първия участник</p>
                                <a href="register" class="btn btn-md btn-bordered btn-register">РЕГИСТРИРАЙ СЕ СЕГА</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
<% include includes/photoswipe.ejs %>
</body>
</html>
