<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Успешна регистрация - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="contacts-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>КОНТАКТИ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">КОНТАКТИ</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="contacts-wrapper section-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="caption">
                                <p>За предложения и обратна връзка, моля използвайте:</p>
                                <spam class="mailto" href="contact@photo-forum.net">contact @ photo-forum.net</spam>
                                <p>Ние редовно следим пощата си и отговаряме на запитванията и въпросите поставени към нас.<br/>Ако се налага обаждане, моля оставете телефона си.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
