<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="blog-post-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Елементи на форма</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">Елементи на форма</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">

                <div class="buttons" style="margin-bottom:60px;">
                    <button class="btn btn-sm btn-success">Запази</button>
                    <button class="btn btn-sm btn-info">Инфо</button>
                    <button class="btn btn-sm btn-warning">Внимание</button>
                    <button class="btn btn-sm btn-danger">Изтрий</button>
                </div>

                <div class="alert alert-success" role="alert">
                    A simple success alert—check it out!
                </div>
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>
                <div class="alert alert-warning" role="alert">
                    A simple warning alert—check it out!
                </div>
                <div class="alert alert-info" role="alert">
                    A simple info alert—check it out!
                </div>
                <div class="form-wrap">
                    <form role="form" action="javascript:;" method="post" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group has-error">
                                    <label class="control-label" for="register-email">Потребителско име *</label>
                                    <input type="text" id="register-email" name="name" class="form-control" required>
                                    <div class="notice error">
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="error-message">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <div class="text">Не сте въвели потребителско име</div>
                                    </div>
                                </div>
                                <div class="form-group has-success">
                                    <label class="control-label" for="register-email">Потребителско име *</label>
                                    <input type="text" id="register-email" name="name" class="form-control" value="myusername" required>
                                    <div class="notice success">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group has-searching">
                                    <label class="control-label" for="register-email">Потребителско име *</label>
                                    <input type="text" id="register-email" name="name" class="form-control" value="myuserna" autofocus required>
                                    <div class="notice search">
                                        <div class="lds-css ng-scope">
                                            <div class="lds-spin" style="100%;height:100%">
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                                <div>
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group has-error">
                                    <label class="control-label" for="first-name">Име</label>
                                    <input type="text" id="first-name" name="first-name" class="form-control">
                                    <div class="error-message">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <div class="text">Не сте въвели Име</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group has-error">
                                    <label class="control-label" for="surname">Фамилия</label>
                                    <input type="text" id="surname" name="repeat-password" class="form-control">
                                    <div class="error-message">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <div class="text">Не сте въвели Фамилия</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkbox custom-checkbox form-group has-error">
                                    <span class="character-checkbox"></span>
                                    <span class="label">Съгласен съм с <a href="#/">условията на сайта</a></span>
                                    <div class="error-message">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <div class="text">Отбележете, че сте съгласни с условията</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-block btn-custom btn-md" disabled="disabled">Регистрация</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
