<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annual awards - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include env/production.ejs %>
</head>
<body class="home-page">
<div class="gallery-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <% include includes/homeSlider.ejs %>
</div>
<div class="contest-info section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="head">ЗА КОНКУРСА</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Целта на конкурса е да бъдат показани различните гледни точки на участниците по зададената тема.
                    Пробуждането не е свързано само с природата. Отворете сетивата си, експериментирайте. Пробуждане
                    може да има във всяка тема или сфера, в мислите, в чувствата или на възприятията.</p>
            </div>
            <div class="col-lg-6">
                <p>Пробуждането може да е буквално или абстрактно. То може да е на природата, на обществото, на идеите
                    или на емоциите. Покажете вашата представа за пробуждането по начина, по който я виждате и
                    усещате.</p>
            </div>
        </div>
    </div>
</div>
<div class="calendar section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="head">КАЛЕНДАР</h3>
            </div>
        </div>
        <div class="important-dates">
            <div class="row">
                <div class="col-lg-3">
                    <div class="dates counter-pad primary-registration">
                        <ul>
                            <li>
                                <span class="day-and-month">24 Юни</span>
                            </li>
                            <li>
                                <span class="day-and-month">04 Септември</span>
                            </li>
                        </ul>
                        <h4 class="event-type">Основна регистрация</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dates counter-pad judge-voting">
                        <ul>
                            <li>
                                <span class="day-and-month">05 Септември</span>
                            </li>
                            <li>
                                <span class="day-and-month">25 Септември</span>
                            </li>
                        </ul>
                        <h4 class="event-type">Гласуване на жури</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dates counter-pad audience-voting">
                        <ul>
                            <li>
                                <span class="day-and-month">05 Септември</span>
                            </li>
                            <li>
                                <span class="day-and-month">25 Септември</span>
                            </li>
                        </ul>
                        <h4 class="event-type">Гласуване на публика</h4>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dates counter-pad awarding">
                        <ul>
                            <li>
                                <span class="day-and-month">10 Октомври</span>
                            </li>
                            <li>
                                <span class="day-and-month">2018</span>
                            </li>
                        </ul>
                        <h4 class="event-type">Награждаване</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-time-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="counter-time">
                        <span class="label hidden-xs hidden-sm">ОСТАВАТ<br>ТОЧНО</span>
                        <span class="label hidden-md hidden-lg">ОСТАВАТ ТОЧНО</span>
                        <ul class="time-left">
                            <li>
                                <span class="number">24</span>
                                <span class="text">дни</span>
                            </li>
                            <li>
                                <span class="number">08</span>
                                <span class="text">часа</span>
                            </li>
                            <li>
                                <span class="number">45</span>
                                <span class="text">минути</span>
                            </li>
                            <li>
                                <span class="number">33</span>
                                <span class="text">секунди</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="judges-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="head">ЖУРИ</h3>
            </div>
        </div>
        <div class="all-judges">
            <div class="row">
                <div class="col-lg-3">
                    <div class="judge">
                        <div class="judge-pad">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/photos/photo1.png')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                            </div>
                            <div class="judge-name">Пламен Михайлов</div>
                            <div class="judge-role">Фотограф и видеограф</div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="judge">
                        <div class="judge-pad">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/photos/photo2.png')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                            </div>
                            <div class="judge-name">Пламен Михайлов</div>
                            <div class="judge-role">Фотограф и видеограф</div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="judge">
                        <div class="judge-pad">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/photos/photo3.png')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                            </div>
                            <div class="judge-name">Пламен Михайлов</div>
                            <div class="judge-role">Фотограф и видеограф</div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="judge">
                        <div class="judge-pad">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/photos/photo1.png')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                            </div>
                            <div class="judge-name">Пламен Михайлов</div>
                            <div class="judge-role">Фотограф и видеограф</div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hidden-md hidden-lg">
                    <div class="judges-interview-small-screen">
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                        <div class="judge-interview">
                            <a href="#" class="interview-with">Интервю с Пламен Михайлов</a>
                            <div class="interview-date">27.07.2018</div>
                            <div class="interview-text">
                                <p>Как Роси се отзова в чудния свят на дигиталното - разкажи ни. Моят преход беше по
                                    схемата „from brick...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contest-stat section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 hidden-md">
                <div class="horizontal-separator"></div>
            </div>
            <div class="col-lg-2">
                <div class="counter-pad">
                    <span class="counter">23</span>
                    <span class="text">ЖУРИ</span>
                </div>
            </div>
            <div class="col-lg-2 hidden-md">
                <div class="horizontal-separator"></div>
            </div>
            <div class="col-lg-2">
                <div class="counter-pad">
                    <span class="counter">9</span>
                    <span class="text">КАТЕГОРИИ</span>
                </div>
            </div>
            <div class="col-lg-2 hidden-md">
                <div class="horizontal-separator"></div>
            </div>
            <div class="col-lg-2">
                <div class="counter-pad">
                    <span class="counter">222</span>
                    <span class="text">УЧАСТНИЦИ</span>
                </div>
            </div>
            <div class="col-lg-1 hidden-md">
                <div class="horizontal-separator"></div>
            </div>
        </div>
    </div>
</div>
<div class="partners section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="head">ПАРТНЬОРИ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="../images/sprites/partners.png" alt="">
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
<% include includes/photoswipe.ejs %>
</body>
</html>
