<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Жури - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="judges-page">
<% include ./modal_judge_bio.ejs %>
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>ЖУРИ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">ЖУРИ</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="judges-announcement">
                            <div class="caption">
                                <p>За нас е чест в журито на "Годишни фотографски награди" да имаме подкрепата на
                                    утвърдени професионалисти от различни области на фотографията. Това жури за нас
                                    е гаранция за успех на конкурса и изпълняване на мисията му в пълния й
                                    потенциал.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="judges-wrapper">
                        <div class="container-fluid">
                            <div class="all-judges">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo1.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo2.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo3.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo1.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo2.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo3.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo1.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo" style="background-image: url('../images/photos/photo2.png')">
                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="judge" data-toggle="modal" data-target="#judgebio">
                                            <div class="judge-pad">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('../images/photos/photo3.png')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="judge-name">Пламен Михайлов</div>
                                                <div class="judge-role">Фотограф и видеограф</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <a href="register" class="btn btn-primary btn-register">
                                        <span class="text text-uppercase">РЕГИСТРИРАЙ СЕ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
