<div class="modal fade" id="judgebio" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="judge">
                                <div class="judge-pad">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/photos/photo1.png')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="judge-name">Пламен Михайлов</div>
                                    <div class="judge-role">Фотограф и видеограф</div>
                                </div>
                                <div class="judge-interview">
                                    <p class="question">
                                        Как Лазар и дигиталните комуникации се срещнаха?
                                    </p>
                                    <p class="answer">
                                        Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле). Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна част от къртовския труд, предхождащ блясъка на рекламата. Но вече и изцяло дигитални компании минават и през тези етапи в България
                                    </p>
                                    <p class="question">
                                        Как Лазар и дигиталните комуникации се срещнаха?
                                    </p>
                                    <p class="answer">
                                        Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле). Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна част от къртовския труд, предхождащ блясъка на рекламата. Но вече и изцяло дигитални компании минават и през тези етапи в България
                                    </p>
                                    <p class="question">
                                        Как Лазар и дигиталните комуникации се срещнаха?
                                    </p>
                                    <p class="answer">
                                        Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле). Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна част от къртовския труд, предхождащ блясъка на рекламата. Но вече и изцяло дигитални компании минават и през тези етапи в България
                                    </p>
                                    <p class="question">
                                        Как Лазар и дигиталните комуникации се срещнаха?
                                    </p>
                                    <p class="answer">
                                        Ако приемем по-широк термин за „дигитално“, срещнахме се през 1999 г., когато в Нестле направихме първата промоция, която изискваше покупка, но участието не беше от типа „изпрати по пощата етикета и теглим печелившия, като се гмурнем в басейна с хартия“…Изпращаха се SMSи. Звучи просто, нали? Но за да бъде просто, имахме ясно разписан алгоритъм, проверка на кода, правила за генериране на кода (напр. не може да има нула и О, В и 8…), автоматичен отговор на SMS, автоматизиран отчет с директен уеб достъп от клиента (Нестле). Все по-малко, но да, има! Не можем да наречем „дигитален маркетинг“ етапите от позиционирането на една марка, пазарните проучвания и огромна част от къртовския труд, предхождащ блясъка на рекламата. Но вече и изцяло дигитални компании минават и през тези етапи в България
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
