<div class="modal fade" id="paymentMethodEasyPay" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h2 class="head">Плащане с EasyPay</h2>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Код за плащане на касите на изипей:</p>
                            <code>242349825</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
