<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Участници - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="participants-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>УЧАСТНИЦИ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">УЧАСТНИЦИ</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="participants-announcement">
                                <div class="caption">
                                    <p>Разгледайте фотографиите в категориите, които са регистрирани до момента.<br/>
                                        Приятно гледане!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="category video">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="category" class="photo" style="background-image: url('../images/category/photo_7.jpg')">
                                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="category" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category video">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_1.jpg')">
                                                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_7.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_1.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_7.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_1.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo" style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="category-name">Пейзаж</a>
                                    <div class="category-participants">192 участници</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
