<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="register-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>РЕГИСТРАЦИЯ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">Регистрация</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-wrap">
                            <!--On Success, add class has-success-->
                            <!--On Error, add class has-error-->
                            <div class="form-group">
                                <label for="register-project-name" class="control-label">Име на проекта*</label>
                                <input type="text" id="register-project-name" name="register-project-name"
                                       class="form-control" value="Магическа мъгла над Рила" required>
                                <!--remove class hidden on error-->
                                <!--<div class="notice error hidden">-->
                                <!--<i class="fa fa-times-circle" aria-hidden="true"></i>-->
                                <!--</div>-->
                                <!--add class hidden on error-->
                                <!--<div class="notice success">-->
                                <!--<i class="fa fa-check-circle" aria-hidden="true"></i>-->
                                <!--</div>-->
                                <!--remove class hidden on error-->
                                <!--<div class="error-message error">-->
                                <!--<i class="fa fa-sort-asc" aria-hidden="true"></i>-->
                                <!--<div class="text">Не сте въвели потребителско име</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-wrap">
                            <!--On Success, add class has-success-->
                            <!--On Error, add class has-error-->
                            <div class="form-group">
                                <label for="register-project-url" class="control-label text-uppercase">URL*</label>
                                <input type="text" id="register-project-url" name="register-project-url"
                                       class="form-control" required>
                                <!--remove class hidden on error-->
                                <div class="notice error hidden">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </div>
                                <!--remove class hidden on success-->
                                <div class="notice success hidden">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                                <!--remove class hidden on error-->
                                <div class="error-message error hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Не сте въвели потребителско име</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="about-the-author" class="control-label">Категория*</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="sub-label control-label">Професионални</div>
                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Нови предложения</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Астро</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Улицата</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>


                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Репортаж</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Портрет</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Пейзаж</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Природа</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Диви животни</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="sub-label control-label">Любителски</div>
                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Макро</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Натюрморт</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Архитектура</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Експеримент</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Мода/Реклама</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Панорами</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">От въздуха</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                            <!--on error, add class has-error-->
                            <div class="checkbox custom-checkbox form-group">
                                <span class="character-checkbox"></span>
                                <span class="label">Диви животни</span>
                                <!--on error, remove class hidden-->
                                <div class="error-message hidden">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <div class="text">Отбележете, че сте съгласни с условията</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!--On Success, add class has-success-->
                        <!--On Error, add class has-error-->
                        <div class="form-group">
                            <label for="register-project-url" class="control-label">Кратко описание на проекта и основни
                                предимства*</label>
                            <textarea class="message-content form-control" id="about-the-author"></textarea>
                            <!--remove class hidden on error-->
                            <div class="notice error hidden">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </div>
                            <!--remove class hidden on success-->
                            <div class="notice success hidden">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            <!--remove class hidden on error-->
                            <div class="error-message error hidden">
                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                <div class="text">Не сте въвели потребителско име</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <!--On Success, add class has-success-->
                        <!--On Error, add class has-error-->
                        <div class="form-group ">
                            <label for="register-project-email" class="control-label">Email адрес*</label>
                            <input type="email" id="register-project-email" name="register-project-email"
                                   class="form-control" required>
                            <!--remove class hidden on error-->
                            <div class="notice error hidden">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </div>
                            <!--remove class hidden on success-->
                            <div class="notice success hidden">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            <!--remove class hidden on error-->
                            <div class="error-message error hidden">
                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                <div class="text">Не сте въвели потребителско име</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Пол</label>
                            <ul class="filters">
                                <li class="filter-option">
                                    <div class="radio radio-primary">
                                        <input type="radio" name="radio1" id="radio1" value="option1">
                                        <label for="radio1">Мъж</label>
                                    </div>
                                </li>
                                <li class="filter-option">
                                    <div class="radio radio-primary">
                                        <input type="radio" name="radio1" id="radio2" value="option2">
                                        <label for="radio2">Жена</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="register-project-email">Качване на снимки*</label>
                        </div>
                        <div class="upload-photo">
                            <!--add class "uploading" to step-1 when you dropping file-->
                            <div class="step-1 ">
                                <span
                                    class="text text-muted text-center text-info-upload">Плъзнете файл/ове тук или</span>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <div class="select-new-photo">
                                            <button class="btn btn-bordered btn-upload-photo">
                                                <input type="file" class="upload-new-photo" name="upload"/>
                                                <span class="btn-content">
                                                    <span class="text">Browse</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-2">
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper completed">
                                    <button type="button" class="btn delete-photo">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/1.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 100%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice completed">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper completed">
                                    <button type="button" class="btn delete-photo">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/1.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 100%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice completed">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper">
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/2.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 65%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper">
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/2.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 65%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper">
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/2.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 65%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper">
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/uploaded/2.png')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 65%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                    <!--add class completed to upload-photo-notice on photo uploaded-->
                                    <div class="upload-photo-notice">
                                        <span>снимката е успешно качена</span>
                                    </div>
                                </div>
                            </div>
                            <div class="step-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--on error, add class has-error-->
                                        <div class="checkbox custom-checkbox form-group terms-of-use">
                                            <span class="character-checkbox"></span>
                                            <span class="label">Прочетох и съм съгласен с <a href="#/">Условията за ползване и Политика за защита на личните данни</a></span>
                                            <!--on error, remove class hidden-->
                                            <div class="error-message hidden">
                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                <div class="text">Отбележете, че сте съгласни с условията</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                        <a href="register-preview-photos"
                                           class="btn btn-primary btn-upload-photo uploading disabled">
                                            <span class="text text-uppercase">Снимките се качват</span>
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                            </span>
                                        </a>
                                        <a href="register-preview-photos" class="btn btn-primary btn-upload-photo"
                                           id="send_button">
                                            <span class="text text-uppercase">ПРОДЪЛЖИ</span>
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
