<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация, преглед на снимки - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="register-page preview-photos-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>РЕГИСТРАЦИЯ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">Регистрация</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="preview-photos-wrapper section-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="head">Преглед на снимките</h1>
                            <h6 class="sub-head">Моля прегледайте внимателно вашите снимки и информацията към тях преди да се регистрирате окончателно.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 1</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/1.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 2</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/2.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 3</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/3.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 4</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/1.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 5</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/2.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="preview-photos">
                                <div class="row-thumb-photos">
                                    <div class="row-thumb-label">Снимка 6</div>
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/uploaded/3.png')">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-9 col-lg-9">
                            <button class="btn btn-bordered btn-edit">
                                <span class="text">Редактирай</span>
                            </button>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-3 col-lg-3">
                            <a href="register-successfully" class="btn btn-block btn-primary btn-register">
                                <span class="text text-uppercase">РЕГИСТРИРАЙ СЕ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
