<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Успешна регистрация - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="register-page successfully-page">
<% include ./modal_payment_method_easyPay.ejs %>
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>РЕГИСТРАЦИЯ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li class="active">Регистрация</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="successfully-registration-wrapper section-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="head">Регистрацията ви е успешна!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="caption">
                                <p>Поздравления, вие успешно се регистрирахте за конкурса "Годишни фотографски
                                    награди - 2018".</p>
                                <p>Желаем ви успех!</p>
                            </div>
                            <div class="caption">
                                <p>Ако желаете може да се регистрирате и в друга категория: <a href="register"
                                                                                               class="register-link">РЕГИСТРИРАЙ
                                        СЕ В ДРУГА КАТЕГОРИЯ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="block-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="block-content-header">
                                            <h2 class="head">Плащане:</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="block-content-body">
                                            <ul class="order-service-list">
                                                <li class="order-service">
                                                    <div class="row">
                                                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                                            <div class="service-name">Регистрация на проект в категория "Пейзаж"</div>
                                                        </div>
                                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                            <div class="service-price">130 лв.</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="order-service">
                                                    <div class="row">
                                                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                                            <div class="service-name">Отстъпка за повече от една категории (20%)</div>
                                                        </div>
                                                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                            <div class="service-price">6 лв.</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="order-service">
                                                    <div class="row">
                                                        <div class="col-xs-7 col-sm-7 col-md-10 col-lg-10">
                                                            <div class="service-price-total-text">Тотал</div>
                                                        </div>
                                                        <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
                                                            <div class="service-price-total">136 лв.</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="block-content payment-methods-block">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="block-content-header">
                                            <h2 class="head">Начини на плащане:</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="block-content-body">
                                            <div class="payment-method">
                                                <h3 class="head">Директен банков превод</h3>
                                                <div class="caption">
                                                    <p>Плащането се извършва с платежно нареждане към банкова сметка:</p>
                                                    <p><b>IBAN:</b> BG32FINV91501016890223</p>
                                                    <p><b>BIC:</b> FINVBGSF</p>
                                                    <p><b>Банка:</b> Първа инвестиционна банка АД</p>
                                                    <p><b>Получател:</b> Photo-Forum ЕООД</p>
                                                    <p><b>Основание:</b> Регистрация за Годишни фотографски награди 2018</p>
                                                </div>
                                            </div>
                                            <div class="payment-method">
                                                <h3 class="head">ePay.bg</h3>
                                                <div class="caption">
                                                    <p>За да заплатиш, чрез ePay.bg, е необходимо да имаш регистрация в сайта на ePay.bg.</p>
                                                    <i class="icon epay"></i>
                                                </div>
                                            </div>
                                            <div class="payment-method">
                                                <h3 class="head">PayPal</h3>
                                                <div class="caption">
                                                    <p>За да заплатиш, чрез PayPal, е необходимо да имаш регистрация в сайта на PayPal.</p>
                                                    <i class="icon paypal"></i>
                                                </div>
                                            </div>
                                            <div class="payment-method">
                                                <h3 class="head">easyPay</h3>
                                                <div class="caption">
                                                    <i class="icon easyPay" data-toggle="modal" data-target="#paymentMethodEasyPay"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
