<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Участници - Годишни фотографски награди - Photo-forum.net</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="participants-page voting-page">
<div class="container-wrapper">
    <% include includes/desktopTopHeaderNotLogged.ejs %>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>ГЛАСУВАНЕ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Начало</a></li>
                            <li><a href="/">Участници</a></li>
                            <li><a href="/">Пейзаж</a></li>
                            <li class="active">Гласуване</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-subheader">
                                <h1 class="head">Пейзаж / Гласуване</h1>
                                <h2 class="subhead">3 участници</h2>
                            </div>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="author">
                                        <a href="#" class="author-name">Мая Манолова</a>
                                        <div class="author-photos">1 снимка</div>
                                    </div>
                                    <div class="voting-options">
                                        <!--on error, add class has-error-->
                                        <div class="checkbox custom-checkbox form-group">
                                            <span class="character-checkbox"></span>
                                            <span class="label">Гласуване</span>
                                            <!--on error, remove class hidden-->
                                            <div class="error-message hidden">
                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                <div class="text">Моля, гласувайте!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="author">
                                        <a href="#" class="author-name">Мая Манолова</a>
                                        <div class="author-photos">1 снимка</div>
                                    </div>
                                    <div class="voting-options">
                                        <!--on error, add class has-error-->
                                        <div class="checkbox custom-checkbox form-group has-error">
                                            <span class="character-checkbox"></span>
                                            <span class="label">Гласуване</span>
                                            <!--on error, remove class hidden-->
                                            <div class="error-message">
                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                <div class="text">Моля, гласувайте!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="category">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('../images/category/photo_6.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="author">
                                        <a href="#" class="author-name">Мая Манолова</a>
                                        <div class="author-photos">1 снимка</div>
                                    </div>
                                    <div class="voting-options">
                                        <!--on error, add class has-error-->
                                        <div class="checkbox custom-checkbox form-group has-error">
                                            <span class="character-checkbox"></span>
                                            <span class="label">Гласуване</span>
                                            <!--on error, remove class hidden-->
                                            <div class="error-message">
                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                <div class="text">Моля, гласувайте!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <a href="#" class="btn btn-primary btn-upload-photo uploading disabled">
                                    <span class="text text-uppercase">Гласувай</span>
                                    <span class="icon">
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
