<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="bootstrap-sprockets.js"></script>
<script src="toastr.js"></script>
<script src="photoswipe.min.js"></script>
<script src="main.js"></script>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="dist/screen.css">
