.btn {
    outline: none;
    @include transition(.3s);
    border-radius: 32px;
    &:focus {
        outline: none;
        color: $color_2;
        outline-offset: unset;
        &:active {
            outline: none;
            color: $color_2;
        }
    }
    &.close {
        @include opacity(1);
    }
    &.btn-close {
        outline: none;
        border: none;
        padding: 0;
        background: unset;
        line-height: 1em;
        i.fa {
            font-size: 28px;
        }
    }
    &.btn-sm {
        line-height: 1.4em;
    }
    &.btn-default {
        &:focus {
            background-color: $color_2;
        }
    }
    &.btn-bordered {
        padding-right: 20px;
        padding-left: 20px;
        color: $color_6;
        border: 2px solid $color_6;
        background-color: transparent;
        @include transition(.3s);
        &:focus,
        &:hover {
            color: $color_2;
            background-color: $color_6;
        }
    }
    &.btn-custom {
        color: $color_2;
        font-size: 14px;
        margin-bottom: 25px;
        background-color: $color_6;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        border: none;
        @include clearfix;
        &:hover,
        &:focus {
            color: $color_2;
            border: none;
        }
        &:hover {
            background-color: lighten($color_6, 3%);
        }
        .text, .spinner {
            display: block;
            float: left;
        }
        .spinner {
            display: none;
        }
        &.loading {
            background-color: $color_9;
            color: lighten($color_9, 30%);
            .spinner {
                display: block;
                margin-left: 30px;
                @include animation(fa-spin 1.5s infinite linear);
            }
        }
    }
    &.btn-photo-all {
        margin-bottom: 0;
    }
    &.btn-facebook,
    &.btn-google {
        margin: 0 0 25px 0;
        color: $color_2;
        font-size: 14px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);
        &:focus {
            color: $color_2;
        }
        i.fa {
            margin-right: 5px;
        }

    }
    &.btn-facebook {
        border: 1px solid $color_25;
        background-color: $color_25;
        &:hover {
            background-color: darken($color_25, 8%);
            color: $color_2;
        }
    }
    &.btn-google {
        border: 1px solid $color_42;
        background-color: $color_42;
        &:hover {
            color: $color_2;
            background-color: darken($color_42, 8%);
        }
    }
    &.btn-follow {
        min-width: 119px;
        border: none;
        margin-top: 25px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);
        span {
            &.follow {
                display: block;
            }
            &.followed {
                display: none;
            }
            &.no-follow {
                display: none;
            }
        }
        &.is-followed {
            background-color: $color_43;
            &:hover {
                background-color: $color_27;
                span {
                    &.follow {
                        display: none;
                    }
                    &.followed {
                        display: none;
                    }
                    &.no-follow {
                        display: block;
                    }
                }
            }
            span {
                &.follow {
                    display: none;
                }
                &.followed {
                    display: block;
                }
                &.no-follow {
                    display: none;
                }
            }
        }
    }
    &.btn-load-more {
        color: $color_6;
        font-size: 14px;
        border: 1px solid $color-6;
        background-color: $color_2;
        padding-right: 35px;
        padding-left: 35px;
        text-transform: uppercase;
        @include clearfix();
        &:hover, &:active {
            color: $color_2;
            background-color: $color_6;
            span {
                &.spinner {
                    .spinner-icon {
                        svg {
                            fill: $color_2;
                        }
                    }
                }
            }
        }
        &:active {
            span {
                &.spinner {
                    display: block;
                }
            }
        }
        span {
            display: block;
            &.spinner {
                display: none;
                float: left;
                margin-right: 15px;
                .spinner-icon {
                    width: 18px;
                    height: 18px;
                    @include animation(fa-spin 1.5s infinite linear);
                    svg {
                        fill: $color_6;
                    }
                }
            }
            &.text {
                float: right;
            }
        }
    }
    &.btn-more-actions {
        color: $color_2;
        background-color: $color_46;
        border-color: darken($color_46, 5%);
    }
    &.btn-price-info {
        padding: 0;
        line-height: 1em;
        background: transparent;
    }
}
