.counter-pad {
    padding: 25px;
    @include box-shadow(0 -4px 6px rgba($color_11, .2));
    @include border-radius(30px);
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        margin-bottom: 60px;
    }
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
}
