.checkbox {
    margin-top: 0;
    margin-bottom: 25px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    text-align: left;
    @include clearfix;
    &.checked {
        &:before {
            content: '\e013';
            color: $color_6;
            font-size: 14px;
            margin: 1px 0 0 3px;
            position: absolute;
            pointer-events: none;
            font-family: 'Glyphicons Halflings';

        }
    }
    &.has-error {
        .character-checkbox {
            border: 1px solid $color-red-error;
        }
        .label {
            color: $color-red-error;
            a {
                color: darken($color-red-error, 15%);
            }
        }
    }
    .character-checkbox {
        width: 21px;
        height: 21px;
        cursor: default;
        border: 1px solid $color_3;
        background-color: $color_2;
        float: left;
        margin-right: 10px;
        @include border-radius(3px);
        @include inline-block();
        @include clearfix();
    }
    .label {
        @include roboto-font($light-font, $light-font-weight);
        color: $color_11;
        font-size: 16px;
        float: left;
        margin-top: 1px;
        display: contents;
        white-space: pre-line;
        @media (max-width: 767px) {
            font-size: 11px;
            margin-top: 3px;
            white-space: unset;
            padding: 0;
            display: block;
            text-align: left;
            line-height: 1.1em;
        }
        @media (max-width: 480px) {
            font-size: 11px;
            margin-top: 3px;
        }
    }
}

.radio {
    padding-left: 20px;
    label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid $color_73;
            border-radius: 50%;
            background-color: #fff;
            @include transition(border 0.15s ease-in-out);
        }
        &:after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            margin-left: -20px;
            border-radius: 50%;
            background-color: #555555;
            @include transform(scale(0, 0));
            @include transition(transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33));
        }
    }
    input {
        &[type="radio"] {
            opacity: 0;
            &:checked + label::after {
                @include transform(scale(1, 1));
            }
            &:disabled + label {
                opacity: 0.65;
            }
            :disabled + label::before {
                cursor: not-allowed;
            }
        }
    }
    &.radio-inline {
        margin-top: 0;
    }
}

.radio-primary input[type="radio"] + label::after {
    background-color: $color_6;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: $color_73;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: $color_6;
}

.radio-danger input[type="radio"] + label::after {
    background-color: $color-red-error;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: $color-red-error;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: $color-red-error;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: $color_16;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: $color_16;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: $color_16;
}

.radio-success input[type="radio"] + label::after {
    background-color: $color_43;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: $color_43;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: $color_43;
}

textarea {
    border: 1px solid $color_3;
    padding: 10px 15px;
    outline: none;
    @include border-radius(3px);
    &:focus {
        outline: none;
    }
    &.form-control {
        height: 150px;
    }
}

.form-group {
    .sub-label {
        color: $color_54;
        margin-bottom: 10px;
    }
    .form-group-header {
        @include clearfix();
        .control-label {
            float: left;
        }
        a {
            float: right;
            font-size: 10px;
        }
    }
    .form-group-body {
        height: 35px;
        position: relative;
        .filter-option {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            .btn-group.bootstrap-select {
                .dropdown-toggle {
                    .filter-option {
                        position: static;
                    }
                }
            }
            .form-control {
                display: none;
            }
        }
    }
    .form-control {
        border-width: 1px;
        outline: none;
        &:focus {
            outline: none;
        }
    }
    .notice {
        position: absolute;
        right: 10px;
        top: 45px;
        z-index: 123;
        font-size: 21px;
        &.success {
            color: $color_43;
        }
        &.error {
            color: $color-red-error;
        }
        &.search {
            right: 5px;
            top: 47px;
        }
    }
    &.has-success,
    &.has-searching,
    &.has-error {
        position: relative;
    }
    &.has-error {
        .form-control {
            color: $color-red-error;
            background-color: #fff4f1;
        }
        .error-message {
            margin-top: 12px;
            background-color: $color_38;
            padding: 10px;
            position: relative;
            @include border-radius(3px);
            i.fa {
                top: -10px;
                position: absolute;
                color: $color_38;
                font-size: 26px;
            }
            .text {
                font-size: 11px;
                color: $color_2;
                line-height: 1em;
            }
        }
        .bootstrap-select {
            button.btn {
                border-width: 1px;
                color: $color-red-error;
                background-color: #fff4f1;
            }
            &.btn-group {
                .dropdown-toggle {
                    .caret {
                        &:before {
                            color: $color-red-error;
                        }
                    }
                }
            }
        }
    }
}
