.icon {
    outline: none;
    @include inline-block();
    &.close-menu {
        @include sprites('close_menu');
    }
    &.mobile-menu-hamburger {
        @include sprites('mobile_menu');
    }
    &.epay {
        @include sprites('epay');
    }
    &.paypal {
        @include sprites('paypal');
    }
    &.easyPay {
        @include sprites('easyPay');
    }
    &.play-video {
        @include sprites('play_video');
    }
}
