.judge {
    .judge-pad {
        text-align: center;
        margin-bottom: 65px;
        padding: 25px;
        @include box-shadow(0 -4px 6px rgba($color_11, .2));
        @include border-radius(30px);
        @media (max-width: 767px) {
            margin-bottom: 100px;
        }
        .judge-name {
            font-size: 18px;
            @include roboto-font($bold-font, $bold-font-weight);
        }
        .judge-role {
            font-size: 14px;
            @include roboto-font($light-font, $light-font-weight);
        }
    }
    .judge-interview {
        .interview-with {
            font-size: 18px;
            margin-bottom: 20px;
            color: $color_11;
            display: block;
            @include roboto-font($bold-font, $bold-font-weight);
        }
        .interview-date {
            font-size: 18px;
            color: $color_72;
            margin-bottom: 20px;
        }
        .interview-text {
            @include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 3);
            &:before {
                top: 55px;
                right: 11px;
                width: 26px;
            }
        }
        .question {
            font-size: 18px;
            @include roboto-font($bold-font, $bold-font-weight);
        }
    }
}
