#paymentMethodEasyPay {
    .modal-dialog {
        margin-top: 150px;
        @media (max-width: 767px) {
            margin-top: 80px;
        }
        .modal-content {
            .modal-header {
                margin-bottom: 30px;
                padding-bottom: 0;
                .head {
                    font-size: 24px;
                    margin: 0;
                }
                .close-modal {
                    background: unset;
                    border: none;
                    padding: 0;
                    i.fa {
                        color: $color_39;
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }
            .modal-body {
                p {
                    margin-bottom: 0;
                }
                code {
                    padding: 0;
                    background-color: $color_2;
                    color: $color_6;
                }
            }
        }
    }
}
