#judgebio {
    .modal-dialog {
        margin-top: 150px;
        @media (max-width: 767px) {
            margin-top: 50px;
        }
        .modal-content {
            .modal-header { 
                padding-bottom: 0;
                .close-modal {
                    background: unset;
                    border: none;
                    padding: 0;
                    i.fa {
                        color: $color_39;
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }
            .modal-body {
                @media (max-width: 767px) {
                    padding: 0;
                }
                .judge {
                    .judge-pad {
                        margin-bottom: 10px;
                        @include box-shadow(none);
                        @include border-radius(0);
                        @media (max-width: 767px) {
                            padding-top: 0;
                            padding-bottom: 0;
                            margin-bottom: 15px;
                        }
                        .main-details {
                            margin-top: 0;
                            @media (max-width: 767px) {
                                margin-bottom: 5px;
                            }
                            .photo-wrapper {
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                    .judge-interview {
                        max-height: 350px;
                        overflow-y: scroll;
                        p {
                            @media (max-width: 767px) {
                                margin-bottom: 5px;
                                font-size: 14px;
                                line-height: 1.6em;
                            }
                            &.question {
                                @media (max-width: 767px) {
                                    margin-bottom: 5px;
                                    line-height: 1.4em;
                                }
                            }
                            &.answer {
                                @media (max-width: 767px) {
                                    margin-bottom: 15px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
