#categoryVideo {
    .modal-dialog {
        @media (max-width: 767px) {
            margin-top: 50px;
        }
        .modal-content {
            .modal-header { 
                padding-bottom: 0;
                .close-modal {
                    background: unset;
                    border: none;
                    padding: 0;
                    i.fa {
                        color: $color_39;
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }
            .modal-body {
                @media (max-width: 767px) {
                    padding: 0;
                }
                .main-details {
                    margin-top: 0;
                    .participant-username {
                        font-size: 28px;
                        display: block;
                        margin-bottom: 5px;
                        color: $color_70;
                    }
                    .participant-project-name {
                        font-size: 24px;
                        color: $color_70;
                    }
                    .participant-project-url {
                        display: block;
                        color: $color_72;
                    }
                }
                .participant-project-description {
                    margin-top: 15px;
                    p {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
