.pagination-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    .pagination-tools {
        @include inline-block();
        @include clearfix();
        .pagination-navigation {
            float: left;
            margin: 0 15px;
            @media (max-width: 767px) {
                margin: 0 5px;
            }
            .previous-page,
            .next-page {
                padding: 10px 15px;
                display: block;
                width: 60px;
                height: 60px;
                border: 2px solid $color_6;
                background-color: $color_2;
                @include border-radius(50%);
                @include transition(.3s);
                @media (max-width: 767px) {
                    padding-top: 8px;
                    width: 40px;
                    height: 40px;
                }
                .fa {
                    color: $color_6;
                    font-size: 20px;
                    line-height: 1.8em;
                    @media (max-width: 767px) {
                        line-height: 1em;
                    }
                }
            }
            span.previous-page,
            span.next-page {
                &:hover {
                    text-decoration: none;
                    border: 2px solid $color_6;
                    background-color: $color_2;
                }
            }
            a.previous-page,
            a.next-page {
                &:hover {
                    &:hover {
                        text-decoration: none;
                        border: 2px solid $color_6;
                        background-color: $color_71;
                    }
                }
            }
        }
        .pagination {
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            @include clearfix();
            @include inline-block();
            li {
                float: left;
                font-size: 20px;
                margin-right: 15px;
                @include transition(.3s);
                @include inline-block();
                &:last-child {
                    margin-right: 0;
                }
                a, span {
                    width: 60px;
                    height: 60px;
                    line-height: 2em;
                    color: $color_6;
                    border: 2px solid $color_6;
                    background-color: $color_2;
                    @include border-radius(50%);
                    @include transition(.3s);
                    @media (max-width: 767px) {
                        width: 40px;
                        height: 40px;
                        padding: 5px 8px;
                        line-height: 1.4em;
                    }
                    &:hover {
                        border: 2px solid $color_6;
                        background-color: $color_71;
                    }
                }
                span {
                    cursor: default;
                }
                &.active {
                    span {
                        background-color: $color_6;
                        border: 2px solid $color_6;
                        color: $color_2;
                    }
                }
                @media (max-width: 480px) {
                    margin-right: 5px;
                }
            }
        }
    }
}
