.main-details {
    @include clearfix;
    text-align: center;
    margin-top: -65px;
    margin-bottom: 30px;
    .photo-wrapper {
        width: 80px;
        height: 80px;
        @include inline-block();
        @include border-radius(50%);
        @include box-shadow(0 -4px 6px rgba($color_11, .2));
        .photo {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            text-indent: -10000px;
            @include inline-block();
            @include border-radius(50%);
        }
    }
}

