.row-thumb-photos {
    position: relative;
    margin-bottom: 16px;
    @include clearfix();
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: 480px) {
        margin-bottom: 0;
    }
    .row-thumb-label {
        margin-bottom: 10px;
        @include roboto-font($regular-font, $regular-font-weight);
    }
    .photo-wrapper {
        width: 100%;
        margin-right: 16px;
        position: relative;
        &:hover {
            .badges-list {
                @include opacity(1);
            }
            .photo-stats-info {
                @include opacity(1);
            }
            .edit-tools {
                @include opacity(1);
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &.photo-album {
            border: 1px solid $color_63;
            @include border-radius(3px);
            &:hover {
                border-color: $color_6;
                .photo-album-name {
                    background-color: $color_6;
                    h3 {
                        a {
                            color: $color_2;
                        }
                    }
                    .photos-counter {
                        color: $color_65;
                    }
                }
            }
            .photo-album-name {
                height: 60px;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color_64;
                text-align: center;
                @include transition(.3s);
                h3 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    a {
                        @include transition(.3s);
                    }
                }
                .photos-counter {
                    color: $color_63;
                    @include transition(.3s);
                }
            }
        }
        .badges-list {
            @media (max-width: 767px) {
                @include opacity(1);
            }
        }
        a.photo {
            cursor: pointer;
            display: block;
            .thumb-photo {
                width: 100%;
                height: 220px;
                background-position: center center;
                background-size: cover;
                text-indent: -10000px;
                @include inline-block();
                @include border-radius(3px);
                @media (max-width: 480px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                    width: 100%;
                }
            }
        }
        .nickname-pad {
            position: absolute;
            height: 50px;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, $color_11 30%, rgba($color_11, 0));
            @include transition(.3s);
            .nickname {
                text-align: left;
                display: block;
                color: $color_29;
                font-size: 12px;
                line-height: 1.2em;
                margin-top: 25px;
                margin-left: 15px;
            }
        }
        .edit-tools {
            position: absolute;
            top: 7px;
            left: 0;
            @include opacity(0);
            @include transition(.3s);
            @media (max-width: 1024px) {
                @include opacity(1);
            }
            .photo-edit-tools {
                margin-bottom: 0;
                @include clearfix();
                li {
                    float: left;
                    margin-left: 10px;
                    display: block;
                    background-color: rgba($color_11, 0.7);
                    padding: 7px;
                    @include border-radius(3px);
                    font-size: 18px;
                    line-height: 1em;
                    position: relative;
                    &:hover {
                        .tool-description-tooltip {
                            display: block;
                        }
                    }
                    &.upload-tool {
                        .tool-description-tooltip {
                            width: 245px;
                        }
                    }
                    a {
                        color: $color_2;
                    }
                    .tool-description-tooltip {
                        position: absolute;
                        background-color: $color_38;
                        padding: 10px;
                        left: 0;
                        bottom: -40px;
                        z-index: 1;
                        display: none;
                        @include border-radius(3px);
                        i.fa {
                            top: -10px;
                            position: absolute;
                            color: $color_38;
                            font-size: 26px;
                        }
                        .text {
                            font-size: 11px;
                            color: $color_2;
                            line-height: 1em;
                        }
                    }
                }
            }
        }
        .photo-stats-info {
            position: absolute;
            height: 50px;
            right: 0;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            color: $color_2;
            @include opacity(0);
            @include transition(.3s);
            @include clearfix();
            background-image: linear-gradient(to top, $color_11 30%, rgba($color_11, 0));
            @media (max-width: 1024px) {
                @include opacity(1);
            }
            .views, .comments, .username {
                float: left;
                margin-top: 25px;
                @include clearfix();
                i.fa, .text {
                    float: left;
                }
                i.fa {
                    margin-right: 10px;
                    font-size: 16px;
                }
                .text {
                    font-size: 12px;
                }
            }
            .views {
                margin-left: 15px;
                margin-right: 30px;
            }
            .username {
                float: right;
                margin-right: 15px;
                .nickname {
                    color: $color_2;
                }
            }
        }
    }
}
