.top-menu {
    font-size: 14px;
    margin-bottom: 0;
    @include opacity(0.85);
    @include inline-block;
    @include roboto-font($light-font, $light-font-weight);
    @media only screen and (min-width: 1224px) {
        font-size: 16px;
    }
    .menu-item {
        position: relative;
        display: block;
        float: left;
        padding: 0;
        &:last-child {
            margin-right: 0;
        }
        &.current,
        &.active {
            cursor: pointer;
            .menu-element {
                color: $color_3;
            }
        }
        &.register {
            .menu-element {
                border: 2px solid $color_2;
                line-height: 1.2em;
                @include border-radius(25px);
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .menu-element {
            display: block;
            color: $color_2;
            text-transform: uppercase;
            padding-right: 15px;
            padding-left: 15px;
            @include clearfix();
            @media only screen and (min-width: 1224px) {
                padding: 5px 25px;
            }
            span {
                float: left;
            }
        }
    }
}

