.top-header {
    @media (max-width: 767px) {
        position: relative;
    }
    .mobile-menu-wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        background-color: $color_24;
        display: none;
        .mobile-menu-nav {
            padding: 0 15px;
            display: block;
            margin-bottom: 0;
            border-bottom: 1px solid $color_55;
            @include clearfix();
            .menu-item {
                cursor: pointer;
                &.close-menu-icon {
                    float: right;
                    margin-top: 18px;
                }
            }
        }
        .top-menu {
            display: block;
            height: 100%;
            overflow-y: scroll;
            .menu-item {
                float: none;
                margin-right: 0;
                display: list-item;
                text-align: right;
                &.register {
                    .menu-element {
                        border: none;
                        line-height: 1.2em;
                        @include border-radius(0);
                        background-color: transparent;
                    }
                }
                .menu-element {
                    padding: 15px;
                    span {
                        float: none;
                        @include inline-block();
                    }
                }
            }
        }
    }
}
