.blog-page {
    .judges-interviews-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        .judge {
            margin-bottom: 30px;
            border-bottom: 1px dashed $color_72;
            padding-bottom: 30px;
            .judge-interview {
                .interview-date {
                    font-weight: 200;
                }
            }
        }
    }
}
