.blog-post-page {
    .content-wrapper {
        .content {
            .blog-post {
                .blog-post-header {
                    margin-bottom: 40px;
                    .blog-post-title {
                        margin-top: 0;
                        margin-bottom: 15px;
                        font-size: 42px;
                    }
                    .blog-post-date {
                        font-size: 16px;
                        color: $color_72;
                    }
                }
                .blog-post-content {
                    @include clearfix();
                    .image-left {
                        float: left;
                        margin-right: 25px;
                    }
                    .question {
                        @include roboto-font($bold-font, $bold-font-weight);
                    }
                }

            }
            .btn-register {
                font-size: 20px;
            }
        }
    }
}
