.container-wrapper {
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(120deg, #7994A0, #9CB0AC, #A2C0C6,  #B1A398, #98BCC8));
    .content-wrapper {
        padding-top: 140px;
        padding-bottom: 120px;
        @media (max-width: 767px) {
            padding-top: 100px;
            padding-bottom: 60px;
        }
        .content-header {
            text-align: center;
            margin-bottom: 50px;
            @media (max-width: 767px) {
                margin-bottom: 25px;
            }
            h1 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 60px;
                color: $color_2;
                @media (max-width: 767px) {
                    font-size: 32px;
                }
            }
            h2 {
                margin: 0;
            }
        }
        .content {
            padding: 50px;
            background-color: $color_2;
            @include border-radius(60px);
            @media (max-width: 767px) {
                padding: 30px;
                @include border-radius(30px);
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
