.contacts-page {
    .content-wrapper {
        .content {
            .contacts-wrapper {
                padding-top: 0;
                padding-bottom: 0;
                .caption {
                    p {
                        &:first-child {
                            margin-bottom: 0;
                        }
                        &:last-child {
                            @include roboto-font($light-font, $light-font-weight);
                        }
                    }
                    .mailto {
                        color: $color_6;
                        cursor: default;
                        display: block;
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}
