.home-page {
    .gallery-wrapper {
        //padding-top: 120px;
        //padding-bottom: 45px;
        //background-color: $color_9;
        $svg-gradient-shim-threshold: 1 !global;
        @include background-image(linear-gradient(120deg, #C69A57, #BEBAAE, #101314));
        //@include filter(blur(2px));
        .list-shared-gallery {
            position: relative;
            height: 400px;
            overflow: hidden;
            .user-posted-gallery {
                margin-bottom: 0;
                overflow-x: auto;
                overflow-y: hidden;
                display: -webkit-box;
                display: -moz-box;
                white-space: nowrap;
                height: 420px;
                figure {
                    margin-right: 100px;
                    @include inline-block();
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        position: relative;
                        @include inline-block();
                        .gallery-name {
                            position: absolute;
                            top: 155px;
                            right: 0;
                            left: 0;
                            color: $color_2;
                            font-size: 42px;
                            @include text-shadow($color_11 0 0 20px);
                            @include roboto-font($light-font, $light-font-weight);
                        }
                        img {
                            height: 350px;
                            @include inline-block();
                        }
                    }
                }
            }
        }
    }
    .contest-info {
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }
    .calendar {
        background-color: $color_71;
        .important-dates {
            margin-bottom: 75px;
            .dates {
                &.awarding {
                    @media (max-width: 767px) {
                        margin-bottom: 0;
                    }
                }
                .day-and-month {
                    font-size: 32px;
                    @include roboto-font($thin-font, $thin-font-weight);
                }
            }
        }
    }
    .counter-time-wrapper {
        text-align: center;
        .counter-time {
            @include clearfix();
            .label, .time-left {
                float: left;
                @media (max-width: 767px) {
                    float: none;
                    display: block;
                }
            }
            .label {
                text-align: right;
                color: $color_72;
                font-size: 18px;
                @include roboto-font($light-font, $light-font-weight);
                @media (max-width: 767px) {
                    text-align: center;
                }
            }
            .time-left {
                @include clearfix();
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
                li {
                    float: left;
                    padding: 0 50px;
                    border-left: 1px solid $color_73;
                    @media (max-width: 767px) {
                        padding: 20px 40px;
                        border-left: none;
                        float: none;
                        @include inline-block();
                    }
                    &:first-child {
                        @media (max-width: 767px) {
                            border-right: 1px solid $color_73;
                            border-bottom: 1px solid $color_73;
                            margin-right: -7px;
                            margin-bottom: -1px;
                        }
                    }
                    &:last-child {
                        border-right: 1px solid $color_73;
                        @media (max-width: 767px) {
                            border-right: none;
                            border-left: 1px solid $color_73;
                            border-top: 1px solid $color_73;
                        }
                    }
                    span {
                        display: block;
                        &.number {
                            font-size: 90px;
                            color: $color_6;
                            line-height: 1em;
                            margin-bottom: 30px;
                            @include roboto-font($light-font, $light-font-weight);
                            @media (max-width: 767px) {
                                font-size: 70px;
                                margin-bottom: 0;
                            }
                        }
                        &.text {
                            font-size: 18px;
                            color: $color_72;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            @include inline-block();
        }
    }
    .judges-wrapper {
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
        .all-judges {
            margin-top: 40px;
            .judge {
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    margin-bottom: 60px;
                }
                .judge-pad {
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        margin-bottom: 30px;
                    }
                }
                .judge-interview {
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
            .judges-interview-small-screen {
                .judge-interview {
                    margin-bottom: 60px;
                    @media (max-width: 767px) {
                        display: block;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .interview-with {
                        font-size: 18px;
                        margin-bottom: 15px;
                        color: $color_11;
                        display: block;
                        @include roboto-font($bold-font, $bold-font-weight);
                    }
                    .interview-date {
                        font-size: 18px;
                        color: $color_72;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .contest-stat {
        padding-top: 100px;
        padding-bottom: 110px;
        background-color: $color_71;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            padding-bottom: 0;
        }
        @media (max-width: 767px) {
            padding-top: 60px;
            padding-bottom: 0;
        }
        .horizontal-separator {
            height: 1px;
            background-color: $color_73;
            margin-top: 125px;
            @media (max-width: 767px) {
                display: none;
            }
        }
        .counter-pad {
            text-align: center;
            span {
                display: block;
                &.counter {
                    font-size: 70px;
                    color: $color_11;
                    line-height: 1em;
                    padding-bottom: 30px;
                    border-bottom: 1px solid $color_73;
                    margin-bottom: 20px;
                    @include roboto-font($light-font, $light-font-weight);
                }
                &.text {
                    font-size: 18px;
                    color: $color_6;
                    line-height: 1em;
                    text-transform: uppercase;
                }
            }
        }
    }
    .partners {
        img {
            width: 100%;
            display: block;
        }
    }
}
