.judges-page {
    .container-wrapper {
        .content {
            .judges-announcement {
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 100px;
            }
            .judges-wrapper {
                .all-judges {
                    .judge {
                        .judge-pad {
                            margin-bottom: 100px;
                            @include transition(.3s);
                            &:hover {
                                cursor: pointer;
                                background-color: $color_71;
                                .judge-name,
                                .judge-role {
                                    color: $color_6;
                                }
                            }
                            .main-details {
                                margin-top: -80px;
                                .photo-wrapper {
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                        }
                    }
                }
                .btn-register {
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }
        }
    }
}



