.participants-page {
    &.category {
        .content-wrapper {
            .content {
                .category {
                    padding-top: 0;
                    text-align: center;
                    .head {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .content-wrapper {
        .content {
            .participants-announcement {
                text-align: center;
                margin-bottom: 50px;
            }
            .category-wrapper {
                text-align: center;
                .category {
                    margin-bottom: 65px;
                    text-align: center;
                    padding: 0 0 25px 0;
                    width: 300px;
                    @include box-shadow(0 -4px 6px rgba($color_11, .2));
                    @include border-radius(0 0 30px 30px);
                    @include transition(.3s);
                    @include inline-block();
                    @media (max-width: 767px) {
                        width: 250px;
                    }
                    &.video {
                        .main-details {
                            .photo-wrapper {
                                .photo {
                                    text-indent: unset;
                                    &:hover {
                                        .fa {
                                            color: $color_71;
                                        }
                                    }
                                    .fa {
                                        font-size: 80px;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        top: 23%;
                                        color: $color_31;
                                        @include transition(.3s);
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $color_71;
                        .category-participant,
                        .category-name,
                        .category-participants,
                        .category-url {
                            color: $color_6;
                        }
                    }
                    .main-details {
                        margin-top: 0;
                        .photo-wrapper {
                            width: 100%;
                            height: 300px;
                            @include box-shadow(none);
                            @include border-radius(0);
                            @media (max-width: 767px) {
                                height: 250px;
                            }
                            .photo {
                                @include border-radius(0);
                            }
                        }
                    }
                    .user-posted-gallery {
                        margin-bottom: 15px;
                        .photo {
                            img {
                                width: 100%;
                                height: 200px;
                                display: block;
                            }
                        }
                    }
                    .category-participant {
                        display: block;
                        font-size: 16px;
                        color: $color_70;
                        @include roboto-font($bold-font, $bold-font-weight);
                    }
                    .category-name {
                        display: block;
                        font-size: 18px;
                        color: $color_70;
                        @include roboto-font($bold-font, $bold-font-weight);
                    }
                    .category-participants,
                    .category-url {
                        display: block;
                        font-size: 14px;
                        color: $color_72;
                        @include roboto-font($light-font, $light-font-weight);
                    }
                }
            }
        }
    }
    .no-photos-found {
        text-align: center;
    }
}
