.register-page {
    .filters {
        @include clearfix();
        .filter-option {
            float: left;
            &:last-child {
                float: right;
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    float: left;
                    margin-left: 30px;
                }
            }
        }
    }
    .upload-photo {
        .step-1 {
            background-color: $color_71;
            border: 2px dashed $color_74;
            padding: 30px;
            text-align: center;
            @include border-radius(12px);
            @include transition(.3s);
            &.uploading {
                background-color: darken($color_71, 6%);
                border: 2px dashed darken($color_74, 6%);
            }
            .text-info-upload {
                margin-bottom: 30px;
                @include inline-block();
            }
            .form-wrap {
                .form-group {
                    margin-bottom: 0;
                    .select-new-photo {
                        .btn-upload-photo {
                            position: relative;
                            .upload-new-photo {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 2;
                                cursor: pointer;
                                width: 85px;
                                @include opacity(0);
                            }
                            .btn-content {
                                @include inline-block();
                                @include clearfix();
                                i.fa, .text {
                                    float: left;
                                    display: block;
                                }
                                i.fa {
                                    font-size: 26px;
                                    margin-right: 15px;
                                    @media (max-width: 767px) {
                                        font-size: 18px;
                                    }
                                }
                                .text {
                                    margin-top: 3px;
                                    @media (max-width: 767px) {
                                        margin-top: 1px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .step-2 {
            margin-top: 60px;
            @include clearfix();
            .uploaded-photo-wrapper {
                width: 300px;
                float: left;
                margin-right: 70px;
                margin-bottom: 70px;
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 60px;
                }
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                    width: 250px;
                    margin-right: 45px;
                    margin-bottom: 45px;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 30px;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                &.completed {
                    .uploaded-photo {
                        .row-thumb-photos {
                            .photo-wrapper {
                                .photo {
                                    .thumb-photo {
                                        width: 300px;
                                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                                            width: 100%;
                                        }
                                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                                            width: 250px;
                                        }
                                        @media (max-width: 767px) {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .uploaded-photo-overlay {
                        left: 100%;
                    }
                }
                .uploaded-photo {
                    .row-thumb-photos {
                        .photo-wrapper {
                            .photo {
                                .thumb-photo {
                                    width: 300px;
                                    height: 220px;
                                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                                        width: 100%;
                                        height: 320px;
                                    }
                                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                                        width: 250px;
                                        height: 185px;
                                    }
                                    @media (max-width: 767px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .upload-photo-notice {
                color: $color_2;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 5px;
                left: 0;
                @include opacity(0.75);
                &.completed {
                    span {
                        display: block;

                    }
                }
                span {
                    display: none;
                    font-size: 14px;
                    line-height: 16px;
                    @include roboto-font($light-font, $light-font-weight);
                }
            }
        }
        .step-3 {
            .terms-of-use {
                margin-bottom: 60px;
                .label {
                    font-weight: 400;
                    @media (max-width: 767px) {
                        width: 200px;
                    }
                }
            }
            .btn-skip {
                @media (max-width: 767px) {
                    border: none;
                    padding: 0;
                    margin-top: 10px;
                }
                &:hover {
                    @media (max-width: 767px) {
                        background: unset;
                    }
                }
                &:active {
                    @media (max-width: 767px) {
                        @include box-shadow(none);
                    }
                }
            }
            .btn-upload-photo {
                .text {
                    margin-right: 10px;
                    @media (max-width: 767px) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &.preview-photos-page {
        .content {
            .preview-photos-wrapper {
                padding-top: 0;
                padding-bottom: 0;
                .head {
                    font-size: 42px;
                    margin-bottom: 35px;
                }
                .sub-head {
                    margin-top: 0;
                    color: $color_75;
                    margin-bottom: 30px;
                }
                .preview-photos {
                    @include clearfix();
                    margin-bottom: 30px;
                    .row-thumb-photos {
                        float: left;
                        width: 100%;
                        margin-right: 55px;
                        margin-bottom: 0;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .btn-edit {
                    padding-right: 20px;
                    padding-left: 20px;
                    margin-top: 40px;
                    @media (max-width: 767px) {
                        border: none;
                        padding: 0;
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }
                .btn-register {
                    padding-right: 20px;
                    padding-left: 20px;
                    margin-top: 40px;
                    @media (max-width: 767px) {
                        padding-right: 0;
                        padding-left: 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &.successfully-page {
        .content {
            .successfully-registration-wrapper {
                padding-top: 0;
                padding-bottom: 0;
                .head {
                    font-size: 42px;
                    margin-bottom: 35px;
                    @media (max-width: 767px) {
                        font-size: 5vh;
                    }
                }
                .caption {
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 15px;
                    }
                    .register-link {
                        text-transform: uppercase;
                    }
                }
                .block-content {
                    margin-top: 60px;
                    .block-content-header {
                        margin-bottom: 15px;
                        .head {
                            font-size: 32px;
                            margin: 0;
                        }
                    }
                    .block-content-body {
                        .order-service-list {
                            .order-service {
                                border-top: 1px dashed $color_72;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                &:last-child {
                                    border-bottom: 1px dashed $color_72;
                                }
                                .service-name {
                                    font-size: 18px;
                                    @include roboto-font($light-font, $light-font-weight);
                                }
                                .service-price,
                                .service-price-total {
                                    font-size: 18px;
                                    text-align: right;
                                }
                                .service-price-total-text {
                                    font-size: 18px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                    &.payment-methods-block {
                        .block-content-body {
                            .payment-method {
                                border-top: 1px dashed $color_73;
                                padding-top: 15px;
                                margin-bottom: 20px;
                                .head {
                                    font-size: 18px;
                                    margin-bottom: 15px;
                                    color: $color_75;
                                }
                                .caption {
                                    p {
                                        margin: 0;
                                        line-height: 1.8em;
                                        font-size: 14px;
                                        color: $color_75;
                                    }
                                    .icon {
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
