.voting-page {
    .content-wrapper {
        .content {
            .content-subheader {
                text-align: center;
                margin-bottom: 50px;

                .head {
                    margin-top: 0;
                    color: $color_11;
                    font-size: 42px;
                    margin-bottom: 15px;
                    @media (max-width: 767px) {
                        font-size: 28px;
                    }
                }

                .subhead {
                    margin: 0;
                    font-size: 14px;
                    color: $color_72;
                }
            }

            .category-wrapper {
                .category {
                    width: 100%;
                    display: table;
                    padding: 0 30px 0 0;
                    @include border-radius(0 30px 30px 0);
                    @media (max-width: 767px) {
                        width: auto;

                        padding: 0 0 30px;
                        @include inline-block();
                        @include border-radius(0 0 30px 30px);
                    }

                    .main-details {
                        width: 21vw;
                        margin-right: 30px;
                        margin-bottom: 0;
                        @media (max-width: 767px) {
                            width: 250px;
                            margin-right: 0;
                            margin-bottom: 30px;
                        }
                    }

                    .author {
                        width: 60vw;
                        text-align: left;
                        @media (max-width: 767px) {
                            margin-bottom: 15px;
                        }
                    }

                    .author,
                    .voting-options {
                        display: table-cell;
                        vertical-align: middle;
                        @media (max-width: 767px) {
                            width: 100%;
                            display: block;
                            text-align: center;
                        }
                    }

                    .voting-options {
                        width: 19vw;

                        @media (max-width: 767px) {
                            width: 100%;
                            padding: 0 30px;
                        }

                        .checkbox {
                            margin: 0;

                            &.checked {
                                &:before {
                                    @media (max-width: 767px) {
                                        margin-left: 43px;
                                    }
                                }
                            }

                            &.custom-checkbox {
                                @media (max-width: 767px) {
                                    text-align: center;
                                }

                                .character-checkbox {
                                    @media (max-width: 767px) {
                                        margin-left: 40px;
                                    }
                                }

                                .label {
                                    @media (max-width: 767px) {
                                        font-size: 16px;
                                    }
                                }

                                .error-message {
                                    @media (max-width: 767px) {
                                        margin-top: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
